{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="row justify-content-around" style="margin-top: 150px;">
    <div class="card border-dark mb-3 loginBox">
      <div style="margin-top: 30px;">
        <h3 style="font-weight: bold;  margin-bottom: 20px;">{% trans "Password Reset" %}</h3>
      </div>
      {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
  
      <p style="font-weight: bold;">비밀번호를 잊으셨나요?</p>
      <p style="font-weight: bold;">이메일을 입력시, 초기화 이메일이 발송됩니다.</p> 
  
      <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          <p>
              <label for="id_email">E-mail : </label>
              <input type="email" name ="email" placeholder="이메일 주소" autocomplete="email" require id = "id_email" style="width: 250px;">
          </p>
          <input type="submit" class="btn btn-dark" value="{% trans 'Reset My Password' %}" style="font-weight: bold; border-radius: 20px; margin-left: 80px; margin-bottom: 20px;" />
      </form>
  
        
{% endblock %}
