{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="row justify-content-around" style="margin-top: 100px;">
  <div class="card border-dark mb-3 loginBox">
    <div style="margin-top: 30px;">
      <h3 style="font-weight: bold;">{% trans "Sign Up" %}</h3>
    </div>
    <p style="font-weight: bold; margin-top: 20px;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
   <p>
     <div style="font-weight: bold;">
      <label for="id_username">ID</label>
     </div>
     <div>
      <input type="text" name="username" placeholder="아이디" autocomplete = "username" minlength = "1" maxlength = "150" required id ="id_username" style="width: 250px;">
     </div>
   </p>
   <p>
     <div style="font-weight: bold;">
      <label for="id_email">이메일 (선택사항)</label>
     </div>
     <div>
      <input type="email" name = "email" placeholder="이메일 주소" autocomplete="email" id="id_email" style="width: 250px;">
     </div>
   </p>
   <p>
     <div style="font-weight: bold;">
      <label for="id_password1">비밀번호</label>
     </div>
     <div>
      <input type="password" name="password1" placeholder="비밀번호" autocomplete="new-password" required id ="id_password1" style="width: 250px;">
     </div>
   </p>
   <p>
     <div style="font-weight: bold;">
      <label for="id_password2">비밀번호 (확인)</label>
     </div>
     <div>
      <input type="password" name = "password2" placeholder="비밀번호 (확인)" required id ="id_password2" style="width: 250px;">
     </div>
   </p>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-dark" style="border-radius: 20px; font-weight: bold; margin-bottom: 30px; margin-top: 20px; margin-left: 78px;">{% trans "Sign Up" %}</button>
</form>

{% endblock %}
  </div>
</div> 



