{% extends 'base.html' %}
{% load static %}

{% block content %}
<h2>상품 수정하기</h2>
<form action="{%url 'update' product.id %}" method="post" enctype="multipart/form-data">
	{%csrf_token%}
	<p>상품명 : <input type="text" name="name" value="{{product.name}}"></p>
	<p>키워드 : <input type="text" name="keyword" value="{{product.keyword}}"></p>
    <p>사진 : <input type="file" name="image" onchange="fileCheck(this)" value="{{product.image}}"></p>
	<p>내용 : <textarea type="text" name="discription" id="" cols="30" rows="10">{{product.discription}}</textarea></p>
	<button type="submit">제출</button>
</form>

{% endblock %}
