{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>homepage</h1>
    {% if user.is_authenticated %}
        <h2><a href="{%url 'new'%}">상품등록</a></h2>
    {% else %}
        <h2>로그인 후 상품을 등록할 수 있습니다.</h2>
    {% endif %}
    
    <h2>상품목록</h2>
    <div>
        {% for product in products %}
        <div>
            <h3>{{product.name}}</h3>
            <p>{{product.keyword}}</p>
            <p>{{product.writer}}</p>
            <a href="{%url 'detail' product.id %}">more</a>
        </div>
        {%endfor%}
    </div>
{% endblock %}