{% extends 'base.html' %}
{% load static %}

{% block content %}
  
    <h2 style="margin-top: 30px; margin-left: 20px;">최신상품목록</h2>
    <br>
    <div class="row">
        {% if products %}
            {% for product in products %}
                <div class="card shadows" style="width: 18rem; height: 29rem; align-items: center; margin-left: 2rem; margin-bottom: 2rem; border-style: solid; border-color: black; border-radius: 12px;">
                    <div style="width:17rem; height:20rem; align-items: center; margin-top: 20px; object-fit: cover;">
                        <a href="{%url 'detail' product.id %}">
                            <div style="width:16rem; height: 14rem; position: relative; align-items: center;">
                                {% if product.image %}
                                    <img src="{{product.image.url}}" class="card-img-top" alt="..." style="position: absolute; width: 100%; height: 100%;  margin-left: 8px; margin-top: -2px; ">
                                {% else %}
                                    <img src="{%static 'images/noImage.png'%}" class="card-img-top" alt="..." style="position: absolute; width: 100%; height: 100%;  margin-left: 8px; margin-top: -2px; ">
                                {% endif %}
                                {% if product.onSale == True %}
                                    <button style="background-color : white; position: absolute; margin-top : 5px; margin-left: 172px; color:black; border-radius: 12px; width:85px; border-style: solid; border-color: black;">판매중</button>
                                {% else %}
                                    <button style="background-color : black; position: absolute; margin-top : 5px; margin-left: 172px; color:white; border-radius: 12px; width:85px">판매완료</button>
                                {% endif %}   
                            </div>
                        </a>
                    </div>
                    <div class="card-body" style="width: 17rem;">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title"><b>상품명 : {{product.name}}</b></h5>
                                <h5 class="card-title"><b>키워드 : {{product.keyword}}</b></h5>
                                <h5 class="card-title"><b>작성자 : {{product.writer}}</b></h5>
                            </div>
                        </div>
                    <hr>
                    <a href="{%url 'detail' product.id %}" class="btn btn-light" style = "font-weight: bold; border-radius: 12px; border: 2px ridge #BABABA; margin: auto; display:block;" >상세 페이지 이동</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h3 style="text-align: center;"> 판매중인 상품이 없습니다. </h3>    
        {% endif %}
        <hr>
        <div style="text-align: center;">
            <div class="pagination" style="display: flex;">
                <div style="width: 35%; margin: 5px;">
                    {% if products.has_previous %}
                        <a type="button" class="btn btn-outline-dark btn-sm" href="?page=1">맨 앞으로</a>
                        <a type="button" class="btn btn-outline-dark btn-sm" href="?page={{ products.previous_page_number }}">이전</a>
                    {% endif %}
                </div>

                <div style="width:30%; margin: 5px;">
                    {% for page in products.paginator.page_range %}
                        {% if page >= products.number|add:-4 and page <= products.number|add:4 %}
                        <span class="btn btn-outline-dark btn-sm {% if page == products.number %}current{% endif %}">
                            <a type="button" href="?page={{ page }}" style="text-decoration: none; color: black;">{{page}}</a>
                        </span>
                        {% elif page >= products.number|add:-3 and page <= product_list.number|add:3 %}
                            ..
                        {% endif %}
                    {% endfor %}
                    </div>
    
                    <div style="width:35%; margin: 5px; text-align: left;">
                    {% if products.has_next %}
                        <a type="button" class="btn btn-outline-dark btn-sm" href="?page={{ products.next_page_number }}">다음</a>
                        <a type="button" class="btn btn-outline-dark btn-sm" href="?page={{ products.paginator.num_pages }}">맨 뒤로</a>
                    {% endif %}
                    </div>
            </div>

        </div>
    </div>
{% endblock %}